{% extends 'base.html' %}
{% block header %}
    {% block title %}Home{% endblock %}
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-15">
            <div class="container">
                <div class="row">
                    <div class="col-md-15">

                        <div class="gridster">
                            <ul>
                                <!-- The grid layout will end up here, once it is generated -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
